body{
  background-image: url('../images/bg-img.png');
  background-color: rgba(196, 204, 196, 0.452);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  text-decoration: none;
  color: rgb(204, 19, 19);
}
button{
  background-color: rgb(12, 108, 153);
  color: #fff;
  border-radius: 5px;
  border: solid 2px#fff;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 60px;
}
button.red{
  background-color: rgb(204, 19, 19);
}
button:hover{
  background-color: #555;
	cursor: pointer;
}
button:active{
  background-color: #000;
	cursor: grabbing;
}
button.menu{
  margin-top: 10px;
  min-width: 35px;
}
button.menu:hover{
	background-color: rgb(204, 19, 19);
}
button.menu:active{
	background-color: rgba(204, 19, 19, 0.4);
}
table button.fix{
  width: 80px;
}
a:hover{
    text-decoration: none;
    color: #555;
}
nav{
  width: 180px;
  border-radius: 5px;
  background: #eee;
  border: solid 0.5px #ccc;
  box-shadow: -4px 4px 16px 0 hsla(0, 6%, 13%, 0.2);
  position: fixed;
  right: 20px;
  border-bottom: none;
  margin-top: 7px;
}
nav div{
  background: #fff;
  padding: 10px 10px 10px 20px;
  color: rgb(12, 108, 153);
  width: calc(100% - 21px - 10px);
  font-size: 16px;
  border-bottom: solid 0.5px #ccc;
}
nav div:hover{
  background: rgba(209, 204, 204, 0.3);
}
nav div:active{
  color: rgb(204, 19, 19);
}
nav div.first{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
nav div.last{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: solid 0.5px #ccc;
}
nav div#logout:active{
  cursor: grabbing;
}
nav div#logout:hover{
  cursor: pointer;
}
.menu-items{
  display: none;
}
header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  min-height: 45px;
  border-bottom: solid 2px rgb(204, 19, 19);
  position: fixed;
	top: 0;
  width: 100%;
  z-index: 2;
}
header.big {
	min-height: 100px;
	background-color: rgb(0, 0, 0);
	border-bottom: solid 2px rgb(204, 19, 19);
  color: #fff;
  padding-bottom: 10px;
}
.subHeader{
	background: #e6e9e9;
	padding: 5px 0 5px 0;
	height: 15px;
	margin-top: 4px;
}
footer {
  background-color: #fff;
  color: rgb(204, 19, 19);
  height: 35px;
  width: 100%;
  border-top: solid 2px rgb(12, 108, 153);
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  z-index: 2;
}
footer .container{
  font-size: 14px;
  margin-left: 20px;
  margin-right: 20px;
}
header .container{
  margin-left: 20px;
  margin-right: 20px;
}
/*
.bg-dim{
  background-color: rgba(59, 57, 57, 0.247);
  height: calc(100%);
  width: calc(100%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-attachment: fixed;
}*/
.text-theme{
  color: rgb(12, 108, 153);
}
.top-text{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}
.container{
  margin-left: 80px;
  margin-right: 80px;
  font-size: 18px;
  z-index: 2;
}
/*
.pageTitle{
  padding: 5px;
  background-color: rgb(204, 19, 19);
  color: #fff;
  border-top: solid 3px rgb(12, 108, 153);
  border-bottom: solid 3px rgb(12, 108, 153);
  font-size: 22px;
  font-family: cursive;
  display: none;
}*/
.pageTitle{
	font-size: 12px;
	color: #777;
	font-family: cursive;
	font-weight: 600;
}
.pageTitle:hover{
	color: #ccc;
}
.app-logo{
	height: 35px;
  margin-right: 10px;
  margin-top: 5px;
}
.preload{
	text-align: center;
	font-weight: 500;
	font-size: 24px;
}
.logo-title{
  font-size: 30px;
  font-family: cursive;
  margin-bottom: 10px;
}
.big .logo-title{
  font-size: 40px;
}
.strip{
    display: block;
    width: 25px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 5px;
}
.my-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-20{
  margin-top: 20px;
}
.mt-80{
  margin-top: 80px;
}
.mb-100{
  margin-bottom: 100px;
}
.text-center{
  text-align: center;
}
.middle-box{
    background-color: rgba(255, 255, 255, 0.85);
    margin-right: auto;
    margin-left: auto;
    width: calc(100vw - 40px);
    max-width: 500px;
    color: #000;
		font-size: 14px;
		margin-top: 220px;
}
.middle-box-body{
    padding: 20px;
}
.middle-box input{
    color: #444;
    width: 100%;
		background-color: #fff;
		border: solid 1px rgb(12, 108, 153);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.middle-box-head{
	width: 100%;
	background-color: #888;
	color: #000;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 26px;
}
.spread-in{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.spread-out{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.v-spread-out{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
select{
  background-color: rgb(12, 108, 153);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
}
select option{
  background: #fff;
  color: rgb(12, 108, 153);
  font-size: 15px;
}
.loading{
  background-color: rgba(78, 69, 69, 0.377);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
.loading-img{
  width: 100px;
}
.overlay{
    background-color: rgba(78, 69, 69, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    display: none;
}
.overlay2{
    background-color: rgba(78, 69, 69, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    display: none;
}
.overlay3{
    background-color: rgba(78, 69, 69, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    display: none;
}
.popupAlertOverlay{
    background-color: rgba(78, 69, 69, 0.377);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
    display: none;
}
.overlay select{
  background-color: rgb(202, 206, 202);
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  border: solid 1px #555;
  font-size: 16px;
}
.overlay select option{
  background: #fff;
  color: #000;
  font-size: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
  min-width: 450px;
}

table, th, td {
  border: solid 1px #ccc;
}
th, td{
  padding: 5px 15px;
}
th{
  text-align: left;
  background-color: rgb(12, 108, 153);
  color: #fff;
  font-size: 18px;
  height: 40px;
}
tr{
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #eee;
}
tr:hover{
  background-color: #ccc;
  color: rgb(204, 19, 19);
}
td{
  height: 34px;
  font-size: 15px;
}
.table-responsive{
  overflow-x: auto;
}
td img{
  width: 180px;
}
td input{
  width: 60px;
  border-radius: 4px;
}
.popup{
  background-color: rgb(255, 255, 255);
  margin-right: auto;
  margin-left: auto;
  width: calc(100vw - 40px);
  max-width: 500px;
  color: #000;
  font-size: 14px;
}
.popup-body{
    padding: 20px;
}
.popup input{
    color: #444;
    width: 100%;
		background-color: #fff;
		border: solid 1px rgb(12, 108, 153);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.popup-head{
	width: 100%;
	background-color: #888;
	color: #000;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 3px;
	font-size: 26px;
}
header.admin-theme{
  background-color: rgb(34, 33, 33);
  color: #fff;
	border-bottom: solid 2px rgb(204, 19, 19);
}
@media screen and (max-width: 992px){
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .container-hidden{
        margin: 10px 50px;
    }
}
@media screen and (max-width: 768px){
    .container{
        margin-left: 25px;
        margin-right: 25px;
    }
    .container-hidden{
        margin: 10px 25px;
		}
		.big .logo-title{
			font-size: 35px;
		}
    #menu-icon{
        margin-top: 0;
    }
}
@media screen and (max-width: 600px){
    .container{
        margin-left: 15px;
        margin-right: 15px;
    }
    .container-hidden{
        margin: 10px 15px;
    }
		.big .logo-title{
			font-size: 30px;
    }
    .logo-title{
			font-size: 20px;
		}
		.app-logo{
			height: 30px;
		}
}